User
    email:string
    password:string
    first_name:string
    last_name:string
    phone_number:integer
    type:references

UserType
    name:string

Product
    name:string
    category:references
    brand:references
    description:text
    price:float
    sale_price:float
    image:string

Category
    name:string

Brand
    name:string

Orders
    user:references
    products:references