User
    email:string
    password:string
    first_name:string
    last_name:string
    phone_number:string

Product
    name:string
    category:references
    brand:references
    description:text
    price:float
    sale_price:float
    stock_quantity:integer
    image:string

Category
    name:string

Brand
    name:string

Order
    user:references

OrderItem
    order:references
    product:references
    quantity:integer