User
    email:string
    password:string
    first_name:string
    last_name:string
    phone_number:integer

Product
    name:string
    category:references
    brand:references
    description:text
    price:integer
    image:string

Product_Category
    name:string

Brand
    name:string
