<div class="text-center">
    <h4>Something went wrong with your order</h4>
    <h6>Your order has been cancelled</h6>
    <div class="d-flex justify-content-center">
        <a href="/pages/3" class="btn btn-outline-dark tex-decoration-none">Continue shopping</a>
    </div>
</div>