<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:300px;">
   <div class="container-fluid" style="padding: 0px;">
      <div class="row">
         <div class="col-xs-12">
            <%= image_tag "belinda-fewings-6wAGwpsXHE0-unsplash.jpg", height: '100%', width: '100%' %>
         </div>
      </div>
   </div>
</div>
</div>
<div class="d-flex justify-content-center m-3">
    <h1>Featured Deals</h1>
</div>
<%= render partial: 'common/product' %>