<div
    class="p-4 text-center bg-image"
    style="
      background-image: url('https://plus.unsplash.com/premium_photo-1664443577507-1930a78a60df?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHNvbGlkJTIwY29sb3J8ZW58MHx8MHx8fDA%3D');
      background-size: cover;
      height: 200px;
    "
  >
    <div>
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h2 class="text-dark mb-3">Welcome to Swift</h2>
          <h4 class="text-dark mb-3">Greatest One Stop Store since 2023</h4>
          <a class="btn btn-outline-dark btn-lg" href="/products" role="button"
          >Explore our products</a
          >
        </div>
      </div>
    </div>
  </div>
<div class="d-flex justify-content-center border border-top-0 border-bottom-0 p-3">
    <h3>Featured Deals</h3>
</div>
<%= render partial: 'common/product' %>