<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 300px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="m-3 p-2 text-white">
          <h1 class="mb-3">Welcome to Swift</h1>
          <h4 class="mb-3">Greatest One Stop Store since 2023</h4>
          <a class="btn btn-outline-light btn-lg" href="/products" role="button"
          >Explore our products</a
          >
        </div>
      </div>
    </div>
  </div>
<div class="d-flex justify-content-center border border-top-0 border-bottom-0 p-3">
    <h1>Featured Deals</h1>
</div>
<%= render partial: 'common/product' %>